[Unit]
Description=RESTful API for vLab IPAM service
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/uwsgi --need-app --ini app.ini
WorkingDirectory=/usr/local/lib/python3.6/dist-packages/vlab_ipam_api
Restart=always

[Install]
WantedBy=multi-user.target
